<div class="pina-instagram"
	data-heading="{{ title }}"
	data-show-profile="{{ show_profile }}"
	data-timeline="{{ timeline }}"
	data-small="{{ small }}"
	data-medium="{{ medium }}"
	data-large="{{ large }}"
	data-gutter="{{ gutter }}"
	data-count="{{ count }}"
	data-hashtags="{{ hashtags }}"
>
	<a name="pinsta"></a>
</div>
