<!-- sections/create-sign-product.liquid -->
<!-- theme copy -->
{{ 'section-create-sign-product.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'csp-custom.css' | asset_url | stylesheet_tag }}

  {%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
  px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
  px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}
    px;
    padding-bottom: {{ section.settings.padding_bottom }}
    px;
  }
}
{%- endstyle -%} <link
  rel="stylesheet"
  href="{{ 'component-deferred-media.css' | asset_url }}"
  media="print"
  onload="this.media='all'"> {%- assign product = section.settings.product -%}
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>

<section>
  <div class="alert" id="alert">
    <span class="alert-closebtn" id="alert-closebtn">&times;</span>
    <strong>Alert!</strong>
    You didn't input any text!
  </div>
  <div class="section-{{ section.id }}-padding">
    <div class="csp-inner-cont">

      <div id="csp-design-box" class="design-box">
        <div id="csp-background-img">
          <img
            src="https://cdn.shopify.com/s/files/1/0711/9650/8478/files/brick-light.jpg?v=1689283021"
            width="100%"
            height="100%" />
        </div>

        <div class="csp-design-ruler">
          <button
            type="button"
            id="csp-ruler-btn"
            class="csp-design-ruler-btn">
            {% render 'icon-ruler' %}
          </button>
        </div>

        <div class="csp-design-static-text design-box-text-shadow">
          <div class="csp-design-static-currency">
            <span>$<span id="csp-design-static-currency">0.0</span>
            </span>
          </div>
          <div class="csp-design-static-size">
            <span id="csp-design-static-size">0 × 0in</span>
          </div>
          <div id="rate" style="display: none;">0.8</div>
        </div>

        <div class="measurement-text-box">
          <div class="height-text-box">
            <div class="measure-height-cont">
              <div class="mearsurement-numbers design-box-text-shadow">
                <span>
                  <span id="heightDisplay">0</span>in</span>
              </div>
              <div class="height-hr-box">
                <span class="height-measure-end"></span>
                <span class="height-hr"></span>
                <span class="height-measure-end"></span>
              </div>
            </div>

            <p id="sign-text-overlay" style="font-family:'ballantine',sans serif;"> My House Number</p>
          </div>

          <div class="measure-width-cont">
            <div class="hr-box">
              <hr class="measurement-endings">
              <hr id="csp-measure-hr">
              <hr class="measurement-endings">
            </div>
            <div class="count-display-box design-box-text-shadow">
              <span class="mearsurement-numbers">
                <span id="widthDisplay">0</span>in</span>
            </div>
          </div>
        </div>

        <div class="csp-background-swatch-cont">
          <div class="csp-swatch-box">
            <img
              class="csp-swatch-img"
              src="https://cdn.shopify.com/s/files/1/0711/9650/8478/files/brick-light.jpg?v=1689283021"
              alt="Material Background" />
          </div>
          <div class="csp-swatch-box">
            <img
              class="csp-swatch-img"
              src="https://cdn.shopify.com/s/files/1/0711/9650/8478/files/red-bricks.jpg?v=1689283021"
              alt="Material Background" />
          </div>
          <div class="csp-swatch-box">
            <img
              class="csp-swatch-img"
              src="https://cdn.shopify.com/s/files/1/0711/9650/8478/files/Plugin_3.jpg?v=1689283020"
              alt="Material Background" />
          </div>
          <div class="csp-swatch-box">
            <img
              class="csp-swatch-img"
              src="https://cdn.shopify.com/s/files/1/0711/9650/8478/files/Plugin_2.png?v=1689283021"
              alt="Material Background" />
          </div>
          <div class="csp-swatch-box">
            <img
              class="csp-swatch-img"
              src="https://cdn.shopify.com/s/files/1/0711/9650/8478/files/Plugin_5.jpg?v=1689283020"
              alt="Material Background" />
          </div>
        </div>

      </div>

      <div class="featured-product product grid grid--1-col product--no-media csp-right-column">

        <div class="product__info-wrapper grid__item">
          <div id="ProductInfo-{{ section.id }}" class="design-container">
            {%- assign product_form_id = 'product-form-' | append: section.id -%}
            {% comment %} QUANTITY {% endcomment %}
            <label
              class="form__label"
              for="Quantity-{{ section.id }}"
              style="display: none;">
              {{ 'products.product.quantity.label' | t }}
            </label>
            <quantity-input class="quantity" style="display: none;">
              <button
                class="quantity__button no-js-hidden"
                name="minus"
                type="button">
                <span class="visually-hidden">
                  {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                </span>
                {% render 'icon-minus' %}
              </button>
              <input
                class="quantity__input"
                type="number"
                name="quantity"
                id="Quantity-{{ section.id }}"
                min="1"
                value="1"
                form="{{ product_form_id }}">
              <button
                class="quantity__button no-js-hidden"
                name="plus"
                type="button">
                <span class="visually-hidden">
                  {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                </span>
                {% render 'icon-plus' %}
              </button>
            </quantity-input>
            <div class="csp-text-input-box">
              <h3 class="csp-custom-h3">
                <span class="csp-form-label">1</span>CHOOSE YOUR TEXT</h3>
              <p>Click below to edit the text on your sign</p>
              {%- form 'product', product, class: 'address-text-form' -%}
                <textarea
                  form="{{ product_form_id }}"
                  id="textInput"
                  type="text"
                  onkeyup="countValue()"
                  row="5"
                  col="2"
                  maxlength="40"
                  name="properties[Address]"
                  style="resize: none;"></textarea>
              {%- endform -%}
              <p style="margin: 0 0 20px 5px;">Hit Return to go into the next line.</p>
            </div>

            <div class="csp-font-selection-box">
              <h3 class="csp-custom-h3">FONT SELECTION</h3>
              <div class="csp-font-styling-box">

                <div class="font-selector-cont">

                  <button
                    type="button"
                    id="csp-font-option"
                    value="ballantine">Baroque</button>
                  <input
                    class="csp-font-input"
                    type="hidden"
                    form="{{ product_form_id }}"
                    name="properties[font]"
                    value="ballantine">

                  <div class="icon-carat-box">
                    {% render 'icon-caret-2' %}
                  </div>

                </div>

                <div class="csp-text-align-cont">
                  <input
                    type="hidden"
                    form="{{ product_form_id }}"
                    name="properties[alignment]"
                    value="center">
                  <div class="csp-text-align-box left-align-box">
                    {% render 'icon-left-align' %}
                  </div>
                  <div class="csp-text-align-box center-align-box">
                    {% render 'icon-center-align' %}
                  </div>
                  <div class="csp-text-align-box right-align-box">
                    {% render 'icon-right-align' %}
                  </div>
                </div>

              </div>
              <div style="grid-template-rows: 0fr;" class="csp-grid-dropdown">
                <div class="csp-font-grid">
                  <div style="font-family:'ballantine',sans serif;font-size:30px;line-height:35px;" class="csp-font-item">Baroque</div>
                  <div style="font-family:'seashore',sans serif;font-size: 14px;line-height:43px;" class="csp-font-item">Gemstone</div>
                  <div style="font-family:'brush-script',sans serif;font-size:20px;line-height:45px;" class="csp-font-item">Vintage</div>
                  <div style="font-family:'commercial-script',sans serif;font-size:22px;line-height:45px;" class="csp-font-item">Radiant</div>
                  <div style="font-family:'parsley',sans serif;font-size:24px;line-height:45px;" class="csp-font-item">Regal</div>
                  <div style="font-family:'petit-formal',sans serif;font-size:14px;line-height:45px;" class="csp-font-item">Contemporary</div>
                  <div style="font-family:'scriptmtbold',sans serif;font-size:18px;line-height:45px;" class="csp-font-item">Novel</div>
                  <div style="font-family:'vivace',sans serif;font-size:22px;line-height:40px;" class="csp-font-item">Vivace</div>
                </div>
              </div>

            </div>

            {% comment %} COLOR SELECTION {% endcomment %}

            <div class="csp-color-selection-box">
              <h3 class="csp-custom-h3">
                <span class="csp-form-label">2</span>CHOOSE YOUR COLOR</h3>
              <p>Which color do you want your sign to be?</p>
            </div>

            <fieldset class="js product-form__input cust-var-input">
              <div class="csp-color-btns">
                <input
                  id="color-radio-black"
                  type="radio"
                  value="Black"
                  form="{{ product_form_id }}"
                  name="properties[color]"
                  checked="true">
                <label for="color-radio-black">
                  <span class="black-variant"></span>
                  <span>BLACK</span>
                </label>
              </div>

              <div class="csp-color-btns">
                <input
                  id="color-radio-white"
                  type="radio"
                  value="White"
                  form="{{ product_form_id }}"
                  name="properties[color]">
                <label for="color-radio-white">
                  <span class="white-variant"></span>
                  <span>WHITE</span>
                </label>
              </div>
            </fieldset>

            {% comment %} MATERIAL SELECTION {% endcomment %}

            <div class="csp-color-selection-box">
              <h3 class="csp-custom-h3">MATERIAL FINISH</h3>
              <p>Choose what finish your sign will have</p>
            </div>

            <fieldset class="js product-form__input cust-var-input">
              <div class="csp-variant-btns">
                <input
                  id="material-radio-matte"
                  type="radio"
                  value="Matte"
                  form="{{ product_form_id }}"
                  name="properties[material]"
                  checked="true">
                <label for="material-radio-matte">
                  MATTE
                </label>
              </div>

              <div class="csp-variant-btns">
                <input
                  id="material-radio-glossy"
                  type="radio"
                  value="Glossy"
                  form="{{ product_form_id }}"
                  name="properties[material]">
                <label for="material-radio-glossy">
                  GLOSSY
                </label>
              </div>
            </fieldset>


            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                {% render block %}
                {%- when 'text' -%}
                <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
                  {{- block.settings.text -}}
                </p>
                {%- when 'title' -%}
                <h2 class="product__title {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                  {%- if product.title != blank -%}
                    {{ product.title | escape }}
                  {%- else -%}
                    {{ 'onboarding.product_title' | t }}
                  {%- endif -%}
                </h2>
                {%- when 'price' -%}
                <div
                  class="no-js-hidden"
                  id="price-{{ section.id }}"
                  role="status"
                  {{ block.shopify_attributes }}
                  style="display: none;">
                  {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
                </div>
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                  <div class="product__tax caption rte">
                    {%- if shop.taxes_included -%}
                      {{ 'products.product.include_taxes' | t }}
                    {%- endif -%}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
                {%- if product != blank -%}
                  <div {{ block.shopify_attributes }}>
                    {%- form 'product', product -%}
                      <input
                        type="hidden"
                        name="id"
                        value="{{ product.selected_or_first_available_variant.id }}">
                      {{ form | payment_terms }}
                    {%- endform -%}
                  </div>
                {%- endif -%}
                {%- when 'quantity_selector' -%}
                <div class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}" {{ block.shopify_attributes }}>
                  <label class="form__label" for="Quantity-{{ section.id }}">
                    {{ 'products.product.quantity.label' | t }}
                  </label>
                  <quantity-input class="quantity">
                    <button
                      class="quantity__button no-js-hidden"
                      name="minus"
                      type="button">
                      <span class="visually-hidden">
                        {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                      </span>
                      {% render 'icon-minus' %}
                    </button>
                    <input
                      class="quantity__input"
                      type="number"
                      name="quantity"
                      id="Quantity-{{ section.id }}"
                      min="1"
                      value="1"
                      form="{{ product_form_id }}">
                    <button
                      class="quantity__button no-js-hidden"
                      name="plus"
                      type="button">
                      <span class="visually-hidden">
                        {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                      </span>
                      {% render 'icon-plus' %}
                    </button>
                  </quantity-input>
                </div>

                {%- when 'share' -%}
                <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
                <share-button
                  id="Share-{{ section.id }}"
                  class="share-button"
                  {{ block.shopify_attributes }}>
                  <button class="share-button__button hidden">
                    {% render 'icon-share' %}
                    {{ block.settings.share_label | escape }}
                  </button>
                  <details id="Details-{{ block.id }}-{{ section.id }}">
                    <summary class="share-button__button">
                      {% render 'icon-share' %}
                      {{ block.settings.share_label | escape }}
                    </summary>
                    <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                      <div class="field">
                        <span
                          id="ShareMessage-{{ section.id }}"
                          class="share-button__message hidden"
                          role="status"></span>
                        <input
                          type="text"
                          class="field__input"
                          id="url"
                          value="{{ product.selected_variant.url | default: product.url | prepend: request.origin }}"
                          placeholder="{{ 'general.share.share_url' | t }}"
                          onclick="this.select();"
                          readonly>
                        <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                      </div>
                      <button class="share-button__close hidden no-js-hidden">
                        {% render 'icon-close' %}
                        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                      </button>
                      <button class="share-button__copy no-js-hidden">
                        {% render 'icon-clipboard' %}
                        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                      </button>
                    </div>
                  </details>
                </share-button>
                {%- when 'variant_picker' -%}
                {%- unless product.has_only_default_variant -%}
                  {%- if block.settings.picker_type == 'button' -%}
                    <variant-radios
                      class="no-js-hidden"
                      data-section="{{ section.id }}"
                      data-url="{{ product.url }}"
                      data-update-url="false"
                      {{ block.shopify_attributes }}>
                      {%- for option in product.options_with_values -%}
                        {% assign option_downcase = option.name | downcase %}
                        {% comment %} COLOR OPTION {% endcomment %}
                        {% if option_downcase == 'color' %}
                          <fieldset class="js product-form__input cust-var-input">
                            {%- for value in option.values -%}
                              {% assign value_downcase = value | downcase %}
                              <div class="csp-color-btns">
                                <input
                                  class="csp-color-input"
                                  type="radio"
                                  id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}checked{% endif %}>
                                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                                  <span class="{% if value_downcase == 'black' %}black-variant{% elsif value_downcase == 'white' %}white-variant{% endif %}"></span>
                                  <span>{{ value }}</span>
                                </label>
                              </div>
                            {%- endfor -%}
                          </fieldset>
                          {% comment %} MATERIAL OPTION {% endcomment %}
                        {% elsif option_downcase == 'material' %}
                          <div class="csp-color-selection-box">
                            <h3 class="csp-custom-h3">MATERIAL FINISH</h3>
                            <p>Choose what finish your sign will have</p>
                          </div>
                          <fieldset class="js product-form__input cust-var-input">
                            {%- for value in option.values -%}
                              <div class="csp-variant-btns">
                                <input
                                  type="radio"
                                  id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}checked{% endif %}>
                                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                                  {{ value }}
                                </label>
                              </div>
                            {%- endfor -%}
                          </fieldset>
                        {% elsif option_downcase == 'size' %}
                          {% comment %} OTHER OPTION {% endcomment %}
                          <div class="csp-size-selection-box">
                            <h3 class="csp-custom-h3">
                              <span class="csp-form-label">3</span>SIZE</h3>
                          </div>
                          <fieldset class="js product-form__input cust-var-input">
                            <legend class="form__label"></legend>
                            {%- for value in option.values -%}
                              {%- capture measurements -%}
                                {% assign value_lowcase = value | downcase %}
                                {%- case value_lowcase -%}
                                  {% when 's' %}
                                  <span id="size-small">0.0×0.0in</span>
                                  {% when 'm' %}
                                  <span id="size-medium">0.0×0.0in</span>
                                  {% when 'l' %}
                                  <span id="size-large">0.0×0.0in</span>
                                {%- endcase -%}
                              {%- endcapture -%}
                              <div class="csp-variant-btns">
                                <input
                                  type="radio"
                                  class="size-radio-btn"
                                  id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  style="display: none;"
                                  {% if option.selected_value == value %}checked{% endif %}>
                                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                                  <div class="csp-value-box">
                                    {{ value }}
                                    <span>{{ measurements }}</span>
                                  </div>
                                </label>
                              </div>
                            {%- endfor -%}
                          </fieldset>
                        {% else %}
                          <fieldset class="js product-form__input cust-var-input">
                            <legend class="form__label"></legend>
                            {%- for value in option.values -%}
                              <div class="csp-variant-btns">
                                <input
                                  type="radio"
                                  id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}checked{% endif %}>
                                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                                  {{ value }}
                                  <span>{{ measurements }}</span>
                                </label>
                              </div>
                            {%- endfor -%}
                          </fieldset>
                        {% else %}
                          <fieldset class="js product-form__input cust-var-input">
                            <legend class="form__label"></legend>
                            {%- for value in option.values -%}
                              <div class="csp-variant-btns">
                                <input
                                  type="radio"
                                  id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                  name="{{ option.name }}"
                                  value="{{ value | escape }}"
                                  form="{{ product_form_id }}"
                                  {% if option.selected_value == value %}checked{% endif %}>
                                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                                  {{ value }}
                                </label>
                              </div>
                            {%- endfor -%}
                          </fieldset>
                        {% endif %}
                      {%- endfor -%}

                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                    </variant-radios>
                  {%- else -%}
                    <variant-selects
                      class="no-js-hidden"
                      data-section="{{ section.id }}"
                      data-url="{{ product.url }}"
                      data-update-url="false"
                      {{ block.shopify_attributes }}>
                      {%- for option in product.options_with_values -%}
                        <div class="product-form__input product-form__input--dropdown">
                          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                            {{ option.name }}
                          </label>
                          <div class="select">
                            <select
                              id="Option-{{ section.id }}-{{ forloop.index0 }}"
                              class="select__select"
                              name="options[{{ option.name | escape }}]"
                              form="{{ product_form_id }}">
                              {%- for value in option.values -%}
                                <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                                  {{ value }}
                                </option>
                              {%- endfor -%}
                            </select>
                            {% render 'icon-caret' %}
                          </div>
                        </div>
                      {%- endfor -%}

                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                    </variant-selects>
                  {%- endif -%}
                {%- endunless -%}

                <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                    <label class="form__label" for="Variants-{{ section.id }}">
                      {{- 'products.product.product_variants' | t -}}
                    </label>
                    <div class="select">
                      <select
                        name="id"
                        id="Variants-{{ section.id }}"
                        class="select__select"
                        form="{{ product_form_id }}">
                        {%- for variant in product.variants -%}
                          <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}{% if variant.available == false %}disabled{% endif %} value="{{ variant.id }}">
                            {{ variant.title }}
                            {%- if variant.available == false %}
                              - {{ 'products.product.sold_out' | t }}{% endif %}
                            - {{ variant.price | money | strip_html }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                  </div>
                </noscript>

                {% comment %}
                Cart Pre Notification Modal
                {% endcomment %}
                <div id="cart-pre-notification" class="cart-pre-notification">
                  <div class="cart-pre-notification-content">
                    <div class="cart-pre-closeBtn"><span id="close-modal-xBtn">X</span></div>
                    <div class="cart-pre-header">
                      <h1 class="cart-pre-title">Add to Cart</h1>
                      <span class="cart-pre-price" id="cart-pre-price">$0.00</span>
                    </div>
                    <hr style="margin: 0 !important">
                    <div class="cart-pre-upper-body">
                      <div class="cart-pre-img-container">
                        <span id="cart-prev-design-text" style="font-family:'ballantine',sans serif;"></span>
                        <img src="" id="cart-pre-img">
                      </div>
                      <div class="cart-pre-address-item">
                        <div style="width: 100%;">
                          <b>Address:
                          </b>
                        </div>
                        <span id="current-address"></span>
                      </div>
                    </div>
                    <div class="cart-pre-variant">
                      <div class="cart-pre-variant-item">
                        <b>Product Name:
                        </b>
                        <span id="current-product"></span>
                      </div>
                      <div class="cart-pre-variant-item">
                        <b>Size:
                        </b>
                        <span>
                          <span id="current-size">S</span>
                          <span id="current-width-height">(0.0×0.0in)</span>
                        </span>
                      </div>
                      <div class="cart-pre-variant-item">
                        <b>Font:
                        </b>
                        <span id="current-font">Baroque</span>
                      </div>
                      <div class="cart-pre-variant-item">
                        <b>Alignment:
                        </b>
                        <span id="current-align">Left</span>
                      </div>
                      <div class="cart-pre-variant-item">
                        <b>Color:
                        </b>
                        <span id="current-color">Black</span>
                      </div>
                      <div class="cart-pre-variant-item">
                        <b>Material:
                        </b>
                        <span id="current-material">Matte</span>
                      </div>
                    </div>
                    <div id="cart-pre-comment" style="margin-bottom: 10px; font-size: 20px;"></div>
                    <div class="cart-pre-btn-wrapper">
                      <button id="cancel-prev-modal-btn" class="cart-pre-notification-btn">EDIT DESIGN</button>
                      <product-form class="product-form">
                        {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                          <input
                            type="hidden"
                            name="id"
                            value="{{ product.selected_or_first_available_variant.id }}"
                            disabled>
                          <div class="product-form__buttons cust-btn">
                            <button
                              id="add-to-cart-btn"
                              class="cart-pre-notification-btn"
                              {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                              <div style="display: flex; align-items: center; justify-content: space-around; ">
                                <div class="loading-overlay__spinner hidden">
                                  <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    role="presentation"
                                    class="spinner"
                                    viewBox="0 0 66 66"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle
                                      class="path"
                                      fill="none"
                                      stroke-width="6"
                                      cx="33"
                                      cy="33"
                                      r="30" />
                                  </svg>
                                </div>
                                <div>ADD TO BAG</div>
                              </div>
                            </button>
                          </div>
                        {%- endform -%}
                      </product-form>
                      <button
                        id="view-cart-btn"
                        class="cart-pre-notification-btn"
                        style="display: none;">VIEW CART</button>
                    </div>
                  </div>
                </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
          <div class="product-form" style="position: sticky; bottom: 0;">
            <div style="max-width: 35rem; width:100%; ">
              <div class="product-form__buttons cust-btn">
                <button id="done-btn" class="csp-cta-btn">
                  <div>DONE</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
      <div
        class="product-media-modal__dialog"
        role="dialog"
        aria-label="{{ 'products.modal.label' | t }}"
        aria-modal="true"
        tabindex="-1">
        <button
          id="ModalClose-{{ section.id }}"
          type="button"
          class="product-media-modal__toggle"
          aria-label="{{ 'accessibility.close' | t }}">
          {% render 'icon-close' %}
        </button>

        <div
          class="product-media-modal__content color-background-1 gradient"
          role="document"
          aria-label="{{ 'products.modal.label' | t }}"
          tabindex="0">
          {%- liquid
            if product.selected_or_first_available_variant.featured_media != null
              assign media = product.selected_or_first_available_variant.featured_media
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
            endif
          -%}

          {%- for media in product.media -%}
            {%- liquid
              if section.settings.hide_variants and media_to_render contains media.id
                assign variant_image = true
              else
                assign variant_image = false
              endif

              unless media.id == product.selected_or_first_available_variant.featured_media.id
                render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
              endunless
            -%}
          {%- endfor -%}
        </div>
      </div>
    </product-modal>
  </div>
</section>

<script>
  let productsArr = [];
  const currentSize = document.querySelector("#current-size");

// Get Products Info
  {% for prodInfo in collections['number-of-letters-products'].products %};
    productsArr.push({{ prodInfo | json }});{% endfor %}

// Show Variant Price
  const getPrice = () => {
    const length = document
      .querySelector("#textInput")
      .value
      .split("")
      .filter((str) => str !== "\n" && str !== " ")
      .length
      .toString();

    const currentSizeValue = currentSize.innerHTML;

    const currentProduct = productsArr.filter(product => product.title.split(" ")[0] === length)[0]
    if (! currentProduct) {
      return;
    }
    const currentVariant = currentProduct.variants.filter(variant => variant.title === currentSizeValue)[0];
    if (! currentVariant) {
      return;
    }
    const staticPrice = document.querySelector("#csp-design-static-currency");
    const headerPrice = document.querySelector("#cart-pre-price");
    staticPrice.innerHTML = (+ currentVariant.price / 100.0).toFixed(2);
    headerPrice.innerHTML = `$${
      (+ currentVariant.price / 100.0).toFixed(2)
    }`;
  }

  document.querySelector("#textInput").addEventListener("keyup", () => {
    getPrice();
  });
  document.getElementsByClassName("size-radio-btn")[0].addEventListener("click", () => {
    currentSize.innerHTML = "S";
    getPrice();
  });
  document.getElementsByClassName("size-radio-btn")[1].addEventListener("click", () => {
    currentSize.innerHTML = "M";
    getPrice();
  });
  document.getElementsByClassName("size-radio-btn")[2].addEventListener("click", () => {
    currentSize.innerHTML = "L";
    getPrice();
  });

// Add done-btn handler
  const addToCartBtn = document.querySelector("#add-to-cart-btn");
  const viewCartbtn = document.querySelector("#view-cart-btn");

  addToCartBtn.addEventListener("click", () => {
    const comment = document.querySelector("#cart-pre-comment");

    const currentFontText = document.querySelector('#current-font').innerHTML;
    const currentAlign = document.querySelector("#current-align").innerHTML;
    const currentColor = document.querySelector("#current-color").innerHTML;
    const currentMaterial = document.querySelector("#current-material").innerHTML;
    const currentSize = document.querySelector('#current-size').innerHTML;
    const currentDimension = document.querySelector('#csp-design-static-size').innerHTML;

    const textInput = document.querySelector("#textInput").value;
    const currentLength = textInput
      .split("")
      .filter((str) => str !== "\n" && str !== " ")
      .length
      .toString();

    const currentProduct = productsArr.filter(product => product.title.split(" ")[0] === currentLength)[0]
    if (! currentProduct) {
      comment.innerHTML = "Product doesn't exist!"
      comment.style.color = "red";
      return;
    }
    const currentVariant = currentProduct.variants.filter(variant => variant.title === currentSize)[0];
    if (! currentVariant) {
      comment.innerHTML = "Variant doesn't exist!"
      comment.style.color = "red";
      return;
    }

    document.querySelector('.loading-overlay__spinner').classList.remove('hidden');
    comment.innerHTML = "";

    fetch('/cart/add.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(
        {
          id: currentVariant.id,
          quantity: 1,
          properties: {
            "Font": currentFontText,
            "Alignment": currentAlign,
            "Color": currentColor,
            "Material": currentMaterial,
            "Address": textInput,
            "Dimensions": currentDimension
          }
        }
      )
    })
      .then(response => response.json())
      .then((response) => {
        console.log('Product added to cart:', response);
        comment.style.color = "green"
        comment.innerHTML = "You successfully added product to cart!"

        addToCartBtn.style.display = "none";
        viewCartbtn.style.display = "block";

      })
      .catch(error => {
        console.error('There was an error adding the product to the cart:', error);
        comment.style.color = "red"
        comment.innerHTML = "There was an error adding the product to the cart!"
      })
      . finally(() => {
        document.querySelector('.loading-overlay__spinner').classList.add('hidden');
      })
  })

  viewCartbtn.addEventListener('click', function(event) {
    window.location.href = "/cart";
  })
</script>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
  "@context": "http://schema.org/",
                                                                                                                                                                                                                                                                                                                                                                                                                                                "@type": "Product",
                                                                                                                                                                                                                                                                                                                                                                                                                                                "name": {{ product.title | json }},
  "url": {{ request.origin | append: product.url | json }},
  {% if seo_media -%}
    "image": [
    {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
    ],
  {%- endif %}
  "description": {{ product.description | strip_html | json }},
  {% if product.selected_or_first_available_variant.sku != blank -%}
    "sku": {{ product.selected_or_first_available_variant.sku | json }},
  {%- endif %}
  "brand": {
  "@type": "Brand",
                                                                                                                                                                                                                                                                                                                                                                                                                                                  "name": {{ product.vendor | json }}
  },
  "offers": [
  {%- for variant in product.variants -%}
    {
    "@type" : "Offer",
    {%- if variant.sku != blank -%}
      "sku": {{ variant.sku | json }},
    {%- endif -%}
    {%- if variant.barcode.size == 12 -%}
      "gtin12": {{ variant.barcode }},
    {%- endif -%}
    {%- if variant.barcode.size == 13 -%}
      "gtin13": {{ variant.barcode }},
    {%- endif -%}
    {%- if variant.barcode.size == 14 -%}
      "gtin14": {{ variant.barcode }},
    {%- endif -%}
    "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
    "price" : {{ variant.price | divided_by: 100.00 | json }},
    "priceCurrency" : {{ cart.currency.iso_code | json }},
    "url" : {{ request.origin | append: variant.url | json }}
    }{% unless forloop.last %},{% endunless %}
  {%- endfor -%}
  ]
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return(msie > 0 || trident > 0);
    }

    if (! isIE()) 
      return;
    



    const hiddenInput = document.querySelector('#product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="section.id }} "]') || document.querySelector('variant-selects[data-section="section.id }} "]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{% if product.media.size > 0 %}
  <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
{% endif %}

{{ 'fontSizes.js' | asset_url | script_tag }}
{{ 'create-sign-product.js' | asset_url | script_tag }}

{% schema %}
  {
    "name": "Create Sign",
    "tag": "section",
    "class": "section section-featured-product",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "text",
        "name": "t:sections.featured-product.blocks.text.name",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Text block",
            "label": "t:sections.featured-product.blocks.text.settings.text.label"
          }, {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "t:sections.featured-product.blocks.text.settings.text_style.options__1.label"
              }, {
                "value": "subtitle",
                "label": "t:sections.featured-product.blocks.text.settings.text_style.options__2.label"
              }, {
                "value": "uppercase",
                "label": "t:sections.featured-product.blocks.text.settings.text_style.options__3.label"
              }
            ],
            "default": "body",
            "label": "t:sections.featured-product.blocks.text.settings.text_style.label"
          }
        ]
      },
      {
        "type": "title",
        "name": "t:sections.featured-product.blocks.title.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              }, {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              }, {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          }
        ]
      },
      {
        "type": "price",
        "name": "t:sections.featured-product.blocks.price.name",
        "limit": 1
      }, {
        "type": "variant_picker",
        "name": "t:sections.featured-product.blocks.variant_picker.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "picker_type",
            "options": [
              {
                "value": "dropdown",
                "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.options__1.label"
              }, {
                "value": "button",
                "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.options__2.label"
              }
            ],
            "default": "button",
            "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.label"
          }
        ]
      }, {
        "type": "buy_buttons",
        "name": "t:sections.featured-product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": []
      }, {
        "type": "share",
        "name": "t:sections.featured-product.blocks.share.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "share_label",
            "label": "t:sections.featured-product.blocks.share.settings.text.label",
            "default": "Share"
          }, {
            "type": "paragraph",
            "content": "t:sections.featured-product.blocks.share.settings.featured_image_info.content"
          }, {
            "type": "paragraph",
            "content": "t:sections.featured-product.blocks.share.settings.title_info.content"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "t:sections.featured-product.settings.product.label"
      },
      {
        "type": "header",
        "content": "t:sections.featured-product.settings.header.content",
        "info": "t:sections.featured-product.settings.header.info"
      },
      {
        "type": "checkbox",
        "id": "hide_variants",
        "default": false,
        "label": "t:sections.main-product.settings.hide_variants.label"
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "default": false,
        "label": "t:sections.featured-product.settings.enable_video_looping.label"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Create Sign",
        "blocks": [
          {
            "type": "text",
            "settings": {
              "text": "{{ section.settings.product.vendor }}",
              "text_style": "uppercase"
            }
          },
          {
            "type": "title"
          },
          {
            "type": "price"
          },
          {
            "type": "variant_picker"
          }, {
            "type": "buy_buttons"
          }, {
            "type": "share"
          }
        ]
      }
    ]
  }
{% endschema %}